.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}
.search-input-container {
  height: 80px;
  width: 80px;
  background-color: darkblue;
}
.search-input {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.history-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
